$inputAndViewWidth: 190px
.container
  display: flex
  align-items: center
  input
    width: $inputAndViewWidth
.typeButton
  height: 48px
  border-radius: 50%
  &:hover > svg
    transform: scale(1.5)
  & svg
    transition: all .2s ease-in-out

.view
  padding: 0 10px
  line-height: 32px
  text-align: left
  align-content: center
  width: $inputAndViewWidth
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1)
